<div class="global" *ngIf="fournisseur">
  <form (ngSubmit)="onEditFournisseur(fournisseur)" style="font-size:16px;">
    <input type="hidden" class="form-control" placeholder="id">
    <div class="form-group">
      <label for="designation">Nom</label>
      <input [(ngModel)]="fournisseur.nom" #fournisseurNom="ngModel" required type="text" class="form-control" id="designation" placeholder="Entrez la désignation du produit" name="designation">
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="prixunitaire">Adresse</label>
          <input [(ngModel)]="fournisseur.adresse" #fournisseurAdresse="ngModel" required type="text" class="form-control" id="prixunitaire" placeholder="0.0" name="prixunitaire">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="tel">Numero de téléphone</label>
          <input [(ngModel)]="fournisseur.numTel" #fournisseurNumTel type="text" class="form-control" id="tel" placeholder="0" name="tel">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="cmp">Numero de Compte</label>
          <input [(ngModel)]="fournisseur.numCompte" #fournisseurNumCompte type="text" class="form-control" id="cmp" placeholder="0" name="cmp">
        </div>
      </div>
    </div>
    <button style="font-size: 16px;" type="submit" class="btn btn-block btn-dark" ><strong>Modifier</strong></button>
    <button style="font-size: 16px;" type="reset" class="btn btn-block btn-dark"><strong>Réinitialiser</strong></button>
  </form>
</div>
